In [31]:
import requests
import os 
import csv
import pandas as pd
# Construct the URL for the API call
symbol = 'AAPL'
api_key = 'OQLLSP66PGYDG45E'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&apikey={api_key}&outputsize=full'


# Make the API call and retrieve the data
response = requests.get(url)
data = response.json()

In [32]:
print(type(response))

<class 'requests.models.Response'>

In [33]:
time_series_daily = data['Time Series (Daily)']

In [34]:
# Create a CSV file and write the headers to it
with open('stock_data.csv', 'w', newline='') as csv_file:
    csv_writer = csv.writer(csv_file)
    headers = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
    csv_writer.writerow(headers)

    # Loop through the historic stock data and write it to the CSV file
    for date, daily_data in time_series_daily.items():
        row = [date, daily_data['1. open'], daily_data['2. high'], daily_data['3. low'], daily_data['4. close'], daily_data['6. volume']]
        csv_writer.writerow(row)

# Close the CSV file
csv_file.close()

In [35]:
data = pd.read_csv('stock_data.csv')

In [36]:
data.head()

         Date    Open     High     Low   Close    Volume
0  2023-03-21  157.32  159.400  156.54  159.28  73938285
1  2023-03-20  155.07  157.820  154.15  157.40  73641415
2  2023-03-17  156.08  156.740  154.28  155.00  98944633
3  2023-03-16  152.16  156.460  151.64  155.85  76254419
4  2023-03-15  151.19  153.245  149.92  152.99  77167866

In [37]:
data.tail()

            Date   Open   High    Low  Close   Volume
5879  1999-11-05  84.62  88.37  84.00  88.31  3721500
5880  1999-11-04  82.06  85.37  80.62  83.62  3384700
5881  1999-11-03  81.62  83.25  81.00  81.50  2932700
5882  1999-11-02  78.00  81.69  77.31  80.25  3564600
5883  1999-11-01  80.00  80.69  77.37  77.62  2487300